button {
    background-color: white;
    border: 1px solid #cccccc;
    margin-right: 5px;
    padding: 5px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.075) inset;
    border-radius: 5px;
}

button {
    text-align: center;
}

button:not(:last-child) {
    margin-right: 5px;
}

button:hover:not([disabled]), button:focus:not([disabled]) {
    border-color: rgba(82,168,236,0.8);
    cursor: pointer;
}